<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>
    <add key="WorkerNodeServiceAddress" value=""/>
    <add key="WorkerNodeServiceHttpPort" value="0"/>
    <add key="WorkerNodeServiceNetTcpPort" value="0"/>
    <add key="WorkerNodeServiceCommunicationType" value="NetTcpCommunication"/>
    <add key="WorkerNodeName" value=""/>
    <add key="WorkerNodeId" value="{00000000-0000-0000-0000-000000000000}" />
    <add key="NoOfCores" value="0"/>
    <add key="MessagingServiceAddress" value="localhost"/>
    <add key="MessagingHttpServicePort" value="0"/>
    <add key="MessagingNetTcpServicePort" value="0"/>
    <add key="MessagingServiceCommunicationType" value="NetTcpCommunication"/>
    <add key="PartitionerId" value="{00000000-0000-0000-0000-000000000000}"/>
    <add key="IsInactive" value="False"/>
    <add key="NodePriority" value="100"/>
  </appSettings>
</configuration>
