<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>
    <add key="ContGenSvcAddress" value=""/>
    <add key="ContGenSvcPort" value="0"/>
    <add key="MinUsefulEe" value="0.0001"/>
    <add key="MsgSvcAddress" value="localhost"/>
    <add key="MsgSvcPort" value="0"/>
    <add key="PartitionerId" value="{00000000-0000-0000-0000-000000000000}"/>
    <add key="LastAllowedNodeErrInMinutes" value="60"/>
    <add key="EarlyExitCheckFrequencyInMinutes" value="60"/>
  </appSettings>
  <connectionStrings configSource="db.config"/>
</configuration>
