<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>
    <add key="ContGenServiceAddress" value=""/>
    <add key="ContGenServiceHttpPort" value="0"/>
    <add key="ContGenServiceNetTcpPort" value="0"/>
    <add key="ContGenServiceCommunicationType" value="NetTcpCommunication"/>
    <add key="MinUsefulEe" value="0.0001"/>
    <add key="MessagingServiceAddress" value="127.0.0.1"/>
    <add key="MessagingHttpServicePort" value="0"/>
    <add key="MessagingNetTcpServicePort" value="0"/>
    <add key="MessagingServiceCommunicationType" value="NetTcpCommunication"/>
    <add key="PartitionerId" value="{00000000-0000-0000-0000-000000000000}"/>
    <add key="LastAllowedNodeErrInMinutes" value="60"/>
    <add key="EarlyExitCheckFrequencyInMinutes" value="60"/>
  </appSettings>
<connectionStrings>
    <add name="Clm" connectionString="Data Source=localhost;Initial Catalog=clm601;Integrated Security=SSPI" />
</connectionStrings>
</configuration>
