<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
    <add name="ContGenService" connectionString="Data Source=localhost;Initial Catalog=clm606;Integrated Security=SSPI" />
    <add name="MessagingService" connectionString="Data Source=localhost;Initial Catalog=msg606;Integrated Security=SSPI" />
    <add name="WorkerNodeService" connectionString="Data Source=localhost;Initial Catalog=wns606;Integrated Security=SSPI" />
</connectionStrings>
</configuration>
