<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>
    <add key="MessagingServiceAddress" value="localhost"/>
    <add key="MessagingHttpServicePort" value="0"/>
    <add key="MessagingNetTcpServicePort" value="0"/>
    <add key="MessagingServiceCommunicationType" value="NetTcpCommunication"/>
    <add key="ExpirationTimeInMinutes" value="5"/>
  </appSettings>
  <connectionStrings configSource="db.config" />
</configuration>
